# Visual Studio 一時ファイル・キャッシュ
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ビルド生成物
*.obj
*.exe
*.dll
*.pdb
*.idb
*.lib
*.ipch
*.iobj
*.ipdb

# データベースやログ
*.db
*.db-shm
*.db-wal
*.log

# その他不要ファイル
*.vsidx
*.opendb
